<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post.content %> |
      <%= link_to "comments", post_path(post) %>
      <!-- <a href="<%= post.content %>">LINK YO</a> -->
    </li>
  <% end %>
</ul>

<%= link_to "New Post", new_post_path %>
